################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/cine-hub-server/FileContentIndex
/.vs/cine-hub-server/FileContentIndex/55223d20-ec92-4cbe-bf3f-0058d28c2774.vsidx
/.vs/cine-hub-server/FileContentIndex/88a4522b-1847-447a-ba85-0897adfaa108.vsidx
/.vs/cine-hub-server/FileContentIndex/8cb4aed9-3084-4fe5-a466-117a9f18d5a8.vsidx
/.vs/cine-hub-server/FileContentIndex/954fad07-8c45-4b50-a8d0-582a3fad22ec.vsidx
/.vs/cine-hub-server/FileContentIndex/b0b756c1-dda3-480e-b87e-8a8e837e06ef.vsidx
